/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.panel {
  background: #f9f9f9;
  border: #ccc 1px solid;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 1.8em
}

h5 {
  margin: 10px 0;
  padding: 5px 0;
  background: #f4f4f4;
  padding: 10px;
}
