<div class="row" ng-controller="ContactsCtrl">
  <div class="large-10 columns">
    <div data-alert ng-show="msg" class="alert-box success">{{ msg }}</div>


    <!-- Show Contact -->
    <div class="row" ng-show="contactShow">
      <div class="panel">
        <h3>{{ name }}</h3>
        <ul>
          <li><strong>Company: </strong> {{ company }}</li>
          <li><strong>Email: </strong>{{ email }}</li>
          <h5>Phone Numbers</h5>
          <li><strong>Work: </strong>{{ work_phone }}</li>
          <li><strong>Mobile: </strong>{{ mobile_phone }}</li>
          <li><strong>Home: </strong>{{ home_phone }}</li>
          <h5>Location</h5>
          <li>{{ street_address }}</li>
          <li>{{ city }}, {{ state }}, {{ zipcode }}</li>
        </ul>
      </div>
    </div>


    <!-- Add Form -->
    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
      <h3>Add Contact</h3>
      <!-- Add Form -->
      <div class="row">
        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="name" placeholder="Contact Name" required>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="email" placeholder="Contact Email" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Company:
            <input type="text" ng-model="company" placeholder="Company Name">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Work Phone:
            <input type="text" ng-model="work_phone" placeholder="Work Phone">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Mobile Phone:
            <input type="text" ng-model="mobile_phone" placeholder="Mobile Phone">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Home Phone:
            <input type="text" ng-model="home_phone" placeholder="Home Phone">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Street Address:
            <input type="text" ng-model="street_address" placeholder="Street Address">
          </label>
        </div>
        <div class="large-6 columns">
          <label>City:
            <input type="text" ng-model="city" placeholder="City">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>State:
            <input type="text" ng-model="state" placeholder="State">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Zip Code:
            <input type="text" ng-model="zipcode" placeholder="Zip Code">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" value="Add Contact" class="button">
        </div>
      </div>
    </form>



    <!-- Edit Form -->
    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
      <h3>Edit Contact</h3>
      <!-- Add Form -->
      <div class="row">
        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="name" placeholder="Contact Name" required>
          </label>
        </div>
        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="email" placeholder="Contact Email" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Company:
            <input type="text" ng-model="company" placeholder="Company Name">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Work Phone:
            <input type="text" ng-model="work_phone" placeholder="Work Phone">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Mobile Phone:
            <input type="text" ng-model="mobile_phone" placeholder="Mobile Phone">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Home Phone:
            <input type="text" ng-model="home_phone" placeholder="Home Phone">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Street Address:
            <input type="text" ng-model="street_address" placeholder="Street Address">
          </label>
        </div>
        <div class="large-6 columns">
          <label>City:
            <input type="text" ng-model="city" placeholder="City">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>State:
            <input type="text" ng-model="state" placeholder="State">
          </label>
        </div>
        <div class="large-6 columns">
          <label>Zip Code:
            <input type="text" ng-model="zipcode" placeholder="Zip Code">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" value="Update Contact" class="button">
        </div>
      </div>
    </form>



    <h3>Your Contact(s) ({{ contacts.length }})</h3>
    <table>
      <thead>
        <tr>
          <th width="200px">Name</th>
          <th width="200px">Company</th>
          <th width="25%">Email</th>
          <th width="25%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td><a ng-click="showContact(contact)">{{ contact.name }}</a></td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.email }}</td>
          <td><a class="button tiny" ng-click="showEditForm(contact)">Edit</a>
            <a class="button tiny alert" ng-click="removeContact(contact)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 large-2 columns">
    <a class="button large" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
    <a class="button large" ng-click="hide()" ng-show="addFormShow">-</a>
    <a class="button large" ng-click="hide()" ng-show="contactShow">-</a>
  </div>
</div>
